.search-engine {
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
	width: 40%;
	border: black solid 2px;
	padding: 20px;
}

.header {
	margin: 10px auto 10px 10px;
	width: 80%;
}

.header-title {
	margin: 50px auto 10px;
}

.header-search {
	left: 10px;
	width: 80%;
}

.drink-list {
	margin: 10px auto 10px 10px;
}
